<nav class="bg-white w-full p-4">
  <section class="w-full flex justify-between items-center">

    <button (click)="open()"  class=" flex items-center rounded-md px-2 w-10 h-10 border border-gray-100 lg:hidden">
      <i class="pi pi-bars" style="font-size: 1.3rem"></i>
    </button>

    <div class="flex items-center gap-3 lg:ml-auto">
      <div>
        <p class="text-sm">Username</p>
        <p class="text-sm">Role</p>
      </div>
      <img src="assets/no-user.png" alt="username img profile" class="w-14 h-14 rounded-full">
    </div>
  </section>
</nav>
